@model System.Collections.Generic.IEnumerable<Shop.Models.OrderModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home"; 
}

<!DOCTYPE html>

<html>
<head>
	<title>title</title>
</head>
<body>

	<form action="/ManageOrders/Confirm" method="POST">
		@foreach (var order in Model)
		{

			<fieldset>
				<label>@Helper.Translation("order", "name"):</label><br>
				<input type="hidden" required name="Id" value="@order.Id">
				@order.CustomerName
				<br>
				<label>@Helper.Translation("order", "address"):</label><br>
				@order.Address
				<br>
				<label>@Helper.Translation("order", "phone"):</label><br>
				@order.Phone
				<br>
				<label>@Helper.Translation("order", "e_mail"):</label><br>
				@order.Email
				<br>
				<br />
				<label>@Helper.Translation("order", "item_name")</label>
				<label >@Helper.Translation("order", "quantity")</label>
				<br />
				@{ int cnt = 0; }
				@foreach (var item in order.OrderedItems)
				{
					<div>
						<label>@item.ItemName</label>
						@item.Quantity
					</div>

					cnt++;
				}
				<br><br>
				<button class="order_buttom" name="orderId" type="submit" value="@order.Id">Confirm</button>
			</fieldset>
		}

	</form>

</body>
</html>