@using Shop.Localization
@{
    ViewBag.Title = "_Layout";
}

@helper Translation(params string[] keys)
{
  <span>@(((AbstractTranslationsProvider) ViewBag.TranslationsProvider).GetTranslation(keys))</span>
}

<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="../../Content/css/styles.css">
    <script src="../../Content/js/script.js"></script>
</head>
<body>
    <div id="header">
        <img class="top_img1" src="../../Content/img/images.jpg">
        <img class="top_img2" src="../../Content/img/w_shop.png">
        <img class="top_img3" src="../../Content/img/shop_name.jpg">
    </div>
    <div id="nav">
        <ul class=navTop>
            <li><a href="/Home">@Translation("menu","home")</a></li>
            <li><a href="/News">@Translation("menu", "news")</a></li>
            <li><a href="/Contacts">@Translation("menu", "contact")</a></li>
            <li><a href="/About">@Translation("menu", "about")</a></li>
        </ul>
    </div>
    <div class="inline_block">
        <div id="section">

            @RenderBody()

        </div>
        <div id="advertising">
            <img src="../../Content/img/big_sale.jpg" alt="specific product">
            <div class="advertising_pr">

            </div>
            jfhdjfhdhfjh
        </div>
    </div>


    <div id="footer">
        <div class="contact_f">
            <img class="phone_img" src="../../Content/img/phone.jpg">
            <div>
                0 (800) 000 000<br />
                free in Ukrain
            </div>
            <div>
                COMPANY:W-SHOP)*
            </div>
            <img class="bottom_img" src="../../Content/img/bottom_right.png">
        </div>

    </div>
</body>
</html>
