@model Shop.Models.ItemModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function addToBasket(itemId) {
        var data =
        {
            "itemId": itemId
        };
        $.post("/Home/AddItemToBasket", data);
    }
</script>

<div id="@string.Format("ItemPresenter-{0}", @Model.Id)" class="example_pr">
    <h4>@Html.DisplayNameFor(m=>Model.Name)</h4>
    <label class="price">@Model.Price</label>
    <img class="img_product" src="@Model.ImageSrc" alt="specific product">
    <p class="description">@Model.Description</p>
    <button onclick="addToBasket(@Model.Id)">Add to basket</button>
</div>