@model Shop.Models.ItemModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function addToBasket(itemId) {
        var data =
        {
            "itemId": itemId
        };
        $.post("/Home/AddItemToBasket", data);
    }
</script>

<div id="@string.Format("ItemPresenter-{0}", @Model.Id)" class="example_pr">
    <h4>@Html.DisplayFor(m=>Model.Name)</h4>
    <img class="img_product" src="@Model.ImageSrc" alt="specific product">
    @foreach (var prop in @Model.Properties)
    {
        <p>@string.Format("{0}: {1}", prop.Value.Name, prop.Value.PropertyValue.Value)</p>
        <span style="display: none" class="propretyName">@prop.Value.Name</span>
        <span style="display: none" class="propretyValue">@prop.Value.PropertyValue.Value</span>
    }
    <button onclick="addToBasket(@Model.Id)">@Helper.Translation("example_pr", "Add_to_basket")</button>
</div>