@model Shop.Models.ItemModel

<div class="example_pr">
    <h4>@Model.Name</h4>
    <label class="price">@Model.Price</label>
    <img class="img_product" src="@Model.ImageSrc" alt="specific product">
    <p class="description">@Model.Description</p>
    
    <a href="@string.Format("/Order/{0}", @Model.Id)">Order</a>
</div>