@model Shop.Models.TreeWithProperties
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    function selectSubTree(itemId) {
        $(".example_pr").css("display", "none");
        var elems = $("#" + itemId).find(".treeItem");
        for (var i = 0; i < elems.length; ++i) {
            var vis = $("#itemsContainer").find(".example_pr");
            for (var j = 0; j < vis.length; ++j){
                if (vis[j].id === "ItemPresenter-" + elems[i].id) {
                    $("#" + vis[j].id + ".example_pr").css("display", "block");
                }
            }
        }
        var elemsProps = $(elems).children(".propertiesContainer").find("li");
        var propFilters = $(".propertyFilter");
        $(propFilters).css("display", "none");
        for (var ii = 0; ii < elemsProps.length; ++ii) {
            for (var jj = 0; jj < propFilters.length; ++jj) {
                if (propFilters[jj].id === "PropertyFilter_" + $(elemsProps[ii]).html())
                    $(propFilters[jj]).css("display", "block");
            }
        }
    };
</script>

<body>
@{
    <h1>@ViewBag.Test</h1>
    <h1>@ViewBag.Test</h1>
    <div>
        <div style="float: left">
            <nav id="left_nav" class='nav_static'>
                <ul>
                    @foreach (var root in @Model.Tree.Roots)
                    {
                        <li>@Html.DisplayFor(r => root, "ItemModelTreeNode")</li>
                    }
                </ul>
            </nav>
        </div>
        <div id="itemsContainer" style="width: 50%">
            @foreach (var item in @Model.Tree.Leafs)
            {
                @Html.DisplayFor(m => item.Value, "ItemModel")
            }
        </div>
        <div>
            @foreach (var prop in @Model.Properties)
            {
                @Html.DisplayFor(m => prop, "UnitPropertyTemplate");
            }
        </div>
    </div>
}
</body>
